:root{
    --theme-color:#f5b754;
    --p-color:#999999;
    --bg-dark:#222222;

}
body{
    font-family: 'Outfit';
    background-color: #1B1B1B;
    overflow-x: hidden;
}
h1{
    font-size: 90px;
}
h6{
    font-size: 10px;
    color: var(--theme-color);
    letter-spacing: 6px;
}
h2{
    font-size: 35px;
}
a{
    font-size: 14px;
    text-decoration: none;
}
p{
    color: var(--p-color);
    font-size: 14px;
}
li{
    list-style: none;
}
.py{
    padding: 120px 0;
}
.transition{
    transition-duration: 0.5s;
}

/* header */
header .contact-info p{
    font-size: 12px;
}
header .header-contect .phone-icone{
    padding: 9px 13px;
    border: 1px solid var(--theme-color) !important;
    transition-duration: 0.5s;
}
header .header-contect .phone-icone:hover{
    background-color: var(--theme-color);
    color: var(--bg-dark) !important;
    transition-duration: 0.5s;
}
header a{
    transition-duration: 0.5s;
}
header a:hover{
    color: var(--theme-color) !important;
    transition-duration: 0.5s;
}
header nav .sub-menu ul{
    min-width: 200px;
    background-color: var(--bg-dark);
    transition: all 0.5s ease;
}
header nav .sub-menu ul li a:hover{
    transform: translateX(5px);
}
header nav .sub-menu .mega-menu{
    left: 110% !important;
    transform: translateY(10px); 
    transition: all 0.3s ease;
}
header nav .sub-menu .mega-menu ul{
    background-color: #2B2B2B;
}
header nav .sub-menu ul li:hover .mega-menu , header nav ul li:hover .sub-menu{
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0) !important;
  transition-duration: 0.5s;
}
header .sub-menu i{
    font-size: 13px;
}

/* banner */
.banner .banner-1 , .banner .banner-2 , .banner-3{
    background-image: url(../images/11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.banner .banner-2{
    background-image: url(../images/12.jpg);
}
.banner .banner-3{
    background-image: url(../images/14.jpg);
}
.banner h6{
    font-size: 12px;
}
.banner h5{
    font-size: 17px;
}
.banner h5 span{
    color: var(--theme-color);
    font-size: 21px;
}
.banner h5 span sub{
    font-size: 12px;
}
.banner .banner-viewd , .about .banner-viewd{
    background-color: var(--theme-color);
}
.banner .banner-viewd:hover , .about .banner-viewd:hover{
    background-color: white;
    transform: translateY(-5px);
}
.banner .banner-rentn:hover{
    background-color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
    color: var(--bg-dark) !important;
    transform: translateY(-5px);
}
.banner .owl-theme .owl-nav.disabled+.owl-dots{
    position: absolute;
    width: 100%;
    bottom: 10px !important;
}

.owl-theme .owl-dots .owl-dot span {
    border: 1px solid white !important;
    background-color: transparent !important;
    width: 15px;
    height: 15px;
    margin: 0 3px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}

/* about */
.about .about-title h2 span , .services-title h2 span , .process .process-title h2 span , .poster-2 .poster-2-title h2 span , .product .product-title h2 span , .catagory .catagory-title h2 span , .testimonial .testi-title h2 span , .blog .blog-title h2 span{
    color: var(--theme-color);
}
.about .about-cnt span{
    color: var(--theme-color);
    background-color: var(--bg-dark);
    padding: 8px 13px;
}
.about .about-img-wrapper .img-wrapper{
    width: 470px;
    aspect-ratio: 1 / 1;
}
.about .about-img-wrapper a , .services .service-item a , .catagory .item a , .blog .a-wrapper a{
    padding: 20px 25px;
    border: 1px solid var(--theme-color) !important;
}
.about .about-img-wrapper:hover a , .services .about-img-wrapper:hover a , .catagory .about-img-wrapper:hover a , .blog .about-img-wrapper:hover a{
    background-color: var(--theme-color);
    color: var(--bg-dark) !important;
}
.about .about-img-wrapper:hover img , .services .about-img-wrapper:hover img , .catagory .about-img-wrapper:hover img , .about .about-img-wrapper:hover img{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.body-design{
    width: 1px;
    height: 55px;
    background-color: var(--theme-color);
}
.a-wrapper{
    width: 90px;
    height: 90px;
    background-color: #1B1B1B;
    border-radius: 0 40px 0 0;
}
.br-right-bottom , .br-left-top , .shap-left-top , .shap-right-top{
    width: 24px;
    height: 24px;
    background-color: transparent !important;
    transform: rotate(270deg);
    bottom: 0px;
    right: -22px;
}
.br-left-top{
    top: -24px;
    left: -2px;
}

/* poster-1 */
.poster-1 , .poster-2 , .poster-3{
    background-image: url(../images/2-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
}
.poster-1::after, .poster-2::after, .poster-3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.382);
    z-index: -1 !important;
}

.poster-1 h6 , .poster-2 h6{
    z-index: 9 !important;
}
.poster-1 form .rent-item{
    background-color: var(--bg-dark);
    width: auto !important;
}
.poster-1 form select , .poster-1 form input{
    background-color: var(--bg-dark);
    color: var(--p-color);
    font-size: 14px;
    border: none;
}
.poster-1 form select:focus , .poster-1 form input:focus{
    outline: none;
}
.poster-1 .rent-item a{
    background-color: var(--theme-color);
}
.poster-1 .rent-item a:hover{
    background-color: white;
    transition-duration: 0.5s;
}

/* product */
.product .item{
    width: 100%;
    overflow: visible;
    padding-bottom: 150px;
}
.product .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    overflow: visible !important;
}
.product .item:hover img{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.product .img-cnt {
    position: absolute;
    top: 65%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-dark);
    width: 90%;
    z-index: 10;
}
.product .img-cnt h5 , .product .img-cnt p{
    font-size: 21px;
}
.product .img-cnt li , .product .img-cnt p sub{
    color: var(--p-color);
    font-size: 14px;
}
.product .img-cnt i{
    color: var(--theme-color);
}
.product .img-cnt a{
    background-color: var(--theme-color);
}
.product .img-cnt a:hover{
    background-color: white;
    transition-duration: 0.5s;
}
.product .img-cnt p{
    color: var(--theme-color) !important;
}
.product .item, .product .owl-carousel .owl-stage {
    overflow: visible !important;
}
.product .img-cnt {
    display: none;
}
.product .owl-item.center .img-cnt {
    display: block;
}
.product .img-cnt {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.product .owl-item.center .img-cnt {
    display: block;
    opacity: 1;
}

/* CATAGORY */
.catagory .img-wrapper h5{
    top: 30px;
    left: 30px;
}

/* services */
.services .service-item .img-wrapper {
    width: auto;
    aspect-ratio: 1 / 1;
}
.services .br-right-bottom{
    right: -22px;
}
.services .br-left-top{
    left: -2px;
}

/* process */
.process .img-wrapper , .testimonial .img-wrapper{
    width: 100%;
    background-color: var(--bg-dark);
}
.process .img-wrapper h5{
    font-size: 21px;
}
.process .a-wrapper p{
    width: 60px;
    height: 60px;
    background-color: var(--bg-dark);
}

/* poster-2 */
.poster-2{
    background-image: url(../images/1-1.jpg);
}
.poster-2 a{
    width: 100px;
    height: 100px;
    border: 1px solid var(--theme-color);
}
.poster-2 a:hover{
    color: var(--theme-color) !important;
    transition-duration: 0.5s;
}

/* testimonial */
.testimonial i{
    color: var(--theme-color);
}
.testimonial .testi-name h5{
    font-size: 14px;
}
.testimonial .a-wrapper img{
    width: 60px;
    height: 60px;
}
.testimonial .rating{
    width: 108px;
    height: 49px;
    background-color: #1B1B1B;
    border-radius: 0 0 0 20px;
    top: 0;
    right: 0;
}
.testimonial .rating i{
    font-size: 10px;
    padding: 0 1px;
}
.shap-left-top , .shap-right-top{ 
    top: -190px;
    right: -268px;
    transform: rotate(90deg);
}
.shap-right-top{
    top: -239px;
    right: -160px;
}

/* blog */
.blog .img-wrapper{
    z-index: -1;
}
.blog .img-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.141);
    z-index: 0;
}
.blog .img-wrapper h5{
    z-index: 9999 !important;
}
.blog .img-cnt{
    bottom: 64px;
    right: -18px;
}

/* poster 3 */
.poster-3{
    background-image: url(../images/3-1.jpg);
}
.poster-3 .w-btn{
    background-color: var(--theme-color);
}
.poster-3 .w-btn:hover{
    background-color: white;
    transition-duration: 0.5s;
    transform: translateY(-5px);
}
.poster-3 .r-btn{
    border: 1px solid white;
}
.poster-3 .r-btn:hover{
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    transition-duration: 0.5s;
    transform: translateY(-5px);
    color: var(--bg-dark) !important;
}

/* compony */
.compony{
    background-color: var(--bg-dark);
}
.compony .item img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
.compony-carousel .item img {
    transition: filter 0.5s ease; 
}
.compony-carousel .item img:hover {
    filter: grayscale(100%);
    transition-duration: 0.5s;
}

/* footer */
footer .footer-about h5{
    background-color: var(--theme-color);
}
footer h4{
    font-size: 14px;
}
footer .footer-about ul li a{
    border: 1px solid var(--theme-color);
    width: 50px;
    height: 50px;
}
footer .footer-about ul li a:hover{
    background-color: var(--theme-color);
    color: var(--bg-dark) !important;
    transition-duration: 0.5s;
}
footer .footer-item h5{
    font-size: 21px;
}
footer .footer-item ul li{
    list-style-type: disc;
}
footer .footer-item ul li::marker{
    color: var(--theme-color);
}
footer .footer-item ul li a:hover{
    color: var(--theme-color) !important;
    transition-duration: 0.5s;
}
footer input{
    background-color: transparent;
    border: 1px solid var(--theme-color);
}
footer input::placeholder , footer input{
    color: white;
    font-weight: 300;
}
footer input:focus{
    outline: none;
}

/* bottom to top */
.bottom-to-top a{
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    width: 55px;
    height: 55px;
}

/* Mobile Navigation */
.navbar-toggler {
    border: 1px solid var(--theme-color);
    padding: 8px 12px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23f5b754' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
}

.mobile-nav ul li a:hover {
    color: var(--theme-color) !important;
    transition-duration: 0.5s;
}

/* Car Collection Section */
.car-collection .collection-item {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.car-collection .collection-item:hover {
    transform: translateY(-5px);
}

.car-collection .collection-img-wrapper img {
    transition: transform 0.3s ease;
}

.car-collection .collection-item:hover .collection-img-wrapper img {
    transform: scale(1.05);
}

.car-collection .collection-info {
    background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.7));
}

/* More Collection Button Styling */
.more-collection-btn {
    background-color: var(--theme-color);
    border: 2px solid var(--theme-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    box-shadow: 0 4px 15px rgba(245, 183, 84, 0.3);
}

.more-collection-btn:hover {
    background-color: white;
    color: var(--bg-dark) !important;
    border-color: var(--theme-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(245, 183, 84, 0.4);
}

.more-collection-btn i {
    transition: transform 0.3s ease;
}

.more-collection-btn:hover i {
    transform: translateX(5px);
}

/* SAFE RESPONSIVE FIXES - DESKTOP FIRST */
@media (max-width: 991.98px) {
    .mobile-nav {
        background-color: var(--bg-dark);
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
    }
    
    .banner .d-flex {
        flex-direction: column;
        gap: 15px;
    }
    
    .banner .d-flex a {
        width: 280px;
        text-align: center;
    }
    
    .poster-1 form .rent-item {
        flex-direction: column;
        gap: 15px;
        padding: 25px;
    }
    
    .poster-1 form select,
    .poster-1 form .rent-item a {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    .banner h1 {
        font-size: 50px;
    }
    
    .py {
        padding: 80px 0;
    }
    
    .banner .d-flex a {
        width: 100%;
        max-width: 300px;
    }
    
    .product .img-cnt {
        position: relative;
        transform: none;
        left: 0;
        top: 0;
        width: 100%;
        margin-top: -40px;
        display: block !important;
        opacity: 1 !important;
    }
    
    .product .img-cnt .d-flex {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    
    .footer-about {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
}

@media (max-width: 575.98px) {
    .banner h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    .py {
        padding: 60px 0;
    }
    
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* Banner Responsive Styles */

/* Large Desktop - Default styles already in place */
.banner h1 {
    font-size: 90px;
}

.banner h6 {
    font-size: 10px;
    letter-spacing: 6px;
}

.banner h5 {
    font-size: 1.25rem;
}

/* Tablets and Small Laptops */
@media (max-width: 1199.98px) {
    .banner {
        height: 60vh;
    }

    .banner h1 {
        font-size: 70px;
    }

    .banner h5 {
        font-size: 1.1rem;
    }

    .banner .banner-viewd,
    .banner .banner-rentn {
        padding: 12px 40px;
        font-size: 14px;
    }
}

/* Tablets */
@media (max-width: 991.98px) {
    .banner {
        height: 55vh;
    }

    .banner h1 {
        font-size: 55px;
    }

    .banner h6 {
        font-size: 9px;
        letter-spacing: 4px;
        margin-bottom: 10px;
    }

    .banner h5 {
        font-size: 1rem;
        margin-bottom: 25px !important;
    }

    .banner .d-flex {
        flex-wrap: wrap;
        gap: 10px;
    }

    .banner .banner-viewd,
    .banner .banner-rentn {
        padding: 12px 30px;
        font-size: 13px;
    }
}

/* Mobile Landscape */
@media (max-width: 767.98px) {
    .banner {
        height: 50vh;
    }

    .banner h1 {
        font-size: 40px;
        line-height: 1.2;
    }

    .banner h6 {
        font-size: 8px;
        letter-spacing: 3px;
        margin-bottom: 8px;
    }

    .banner h5 {
        font-size: 0.95rem;
        margin-bottom: 20px !important;
    }

    .banner .banner-viewd,
    .banner .banner-rentn {
        padding: 10px 25px;
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    .banner .d-flex {
        flex-direction: column;
        gap: 10px;
    }
}

/* Small Mobile Devices */
@media (max-width: 575.98px) {
    .banner {
        height: 45vh;
        min-height: 400px;
    }

    .banner .container {
        padding: 0 20px;
    }

    .banner h1 {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .banner h6 {
        font-size: 7px;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }

    .banner h5 {
        font-size: 0.85rem;
        margin-bottom: 15px !important;
    }

    .banner h5 span {
        display: inline-block;
        margin-top: 5px;
    }

    .banner .banner-viewd,
    .banner .banner-rentn {
        padding: 12px 20px;
        font-size: 11px;
        width: 100%;
    }

    .banner .banner-viewd {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .banner .banner-rentn {
        margin-left: 0;
    }
}

/* Extra Small Devices */
@media (max-width: 374.98px) {
    .banner {
        height: 40vh;
        min-height: 350px;
    }

    .banner h1 {
        font-size: 28px;
    }

    .banner h5 {
        font-size: 0.8rem;
    }

    .banner .banner-viewd,
    .banner .banner-rentn {
        padding: 10px 15px;
        font-size: 10px;
    }
}